.Navbar {
    background-color: #2B3558;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
}

.Navbar .leftSide {
    flex: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar .leftSide .menu {
    max-height: 80px;
}

.Navbar .leftSide .menu .linkmenu {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.Navbar .rightSide {
    flex: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.logoditusi {
    width: 120px;
    max-width: 120px;
    vertical-align: middle;
    border-style: none;
}

.searchBox {
    display: flex;
    flex-direction: row;
    background-color: #384678;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    width: 30%;
}

.searchIcon {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    margin-left: -35px;
}

.buttonSearch {
    width: 50px;
    height: 35px;
    border-radius: 4px;
    background-color: #ff9c03;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 5px;
}